In [1]:
print("hola mundo")

hola mundo

In [4]:
## Variables Primitivas
entero = 3 
decimal = 1.1
nombre = "Yadira"
segundo_nombre = "Liliana"
casado = True
profesor = False
hijos = None
print(type(entero)) # int
print(type(decimal)) # float
print(type(nombre)) # str
print(type(segundo_nombre)) # str
print(type(casado)) # boolean
print(type(profesor)) # boolean
print(type(hijos)) # noneType

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'NoneType'>

In [5]:
print(entero)
entero = decimal
entero = nombre
print(entero)

3
Yadira

In [8]:
#Condicion(Boolean)
#Truty
#Falsy

tuplas =()
listas=[]
diccionario={}
print(type(tuplas))  #tuple
print(type(listas))  #list
print(type(diccionario))  #dict

if(""):
    print("Truty")  
else:
    print("Falsy")  
    
if("hola"):
    print("Truty")  
else:
    print("Falsy")

if(0):
    print("Truty")
else:
    print("Falsy")  

if(-1):
    print("Truty")  
else:
    print("Falsy")

if(1):
    print("Truty")  
else:
    print("Falsy")

if(0.00):
    print("Truty")
else:
    print("Falsy")  
    
if(0.01):
    print("Truty")  
else:
    print("Falsy")  
    
if(None):
    print("Truty")  
else:
    print("Falsy")  
    
if(()):
    print("Truty")  
else:
    print("Falsy")  

if((1,2)):
    print("Truty")  
else:
    print("Falsy")      
    
if([]):
    print("Truty")  
else:
    print("Falsy")  
    
if(["a","b"]):
    print("Truty")  
else:
    print("Falsy") 
    
if({}):
    print("Truty")  
else:
    print("Falsy")  
    
if({nombre:"Yadira"}):
    print("Truty")  
else:
    print("Falsy")

<class 'tuple'>
<class 'list'>
<class 'dict'>
Falsy
Truty
Falsy
Truty
Truty
Falsy
Truty
Falsy
Falsy
Truty
Falsy
Truty
Falsy
Truty

In [10]:
# Arreglos
arreglo=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(arreglo[2:5]) # Cerrado a la izquierda y abierto a la derecha. Filtrar ([2, 5[)
print(arreglo[2:]) # Seleccionar un intervalo desde un indice hasta el final
print(arreglo[:7])
print(arreglo[-1])  # El ultimo indice
print(arreglo[2:-1]) 
print(arreglo[-8:-1])
print(arreglo[-9:])
print(arreglo[:-2])
print(arreglo[:])

[3, 4, 5]
[3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7]
10
[3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
#Buscar un elemento dentro de un arreglo
print(type(7 in arreglo)) #bool
print(7 in arreglo)

<class 'bool'>
True

In [12]:
# Longitud de un arreglo
len(arreglo)

10

In [13]:
# Agregar elementos al final del arreglo
arreglo.append(11)
print(arreglo)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [14]:
# Eliminar elementos
arreglo.pop() # Elimina el 11
print(arreglo)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
# AÃ±adir en un indice
arreglo.insert(1,1.1)
arreglo

[1, 1.1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
# Iteradores
print("For")
for numero in arreglo:
    print(numero)

print("While")
contador=0
while(contador < 10):
    print(contador)
    contador+= 1

For
1
1.1
2
3
4
5
6
7
8
9
10
While
0
1
2
3
4
5
6
7
8
9

In [17]:
# Tupla
# No se puede reasignar tuplas, eliminar elementos ni filtrar, solo se permite count e index
# Semejantes a las constantes
tupla_numeros=(1,2,3,4,5)
print(tupla_numeros)

(1, 2, 3, 4, 5)

In [18]:
tupla_numeros[0:3]

(1, 2, 3)

In [19]:
len(tupla_numeros)

5

In [20]:
3 in tupla_numeros

True

In [27]:
# Diccionarios, formato json. Entre comillas dobles o simples
yadira = {
    "nombre" : "Yadira",
    "apellido" : 'Quinchiguango',
    'edad' : 28,
    'sueldo' : 1.1,
    "hijos" : None,
    'casado' : True,
    "mascotas" : [{ nombre : " Duque"}]
    
}
yadira

{'nombre': 'Yadira',
 'apellido': 'Quinchiguango',
 'edad': 28,
 'sueldo': 1.1,
 'hijos': None,
 'casado': True,
 'mascotas': [{'Yadira': ' Duque'}]}

In [28]:
yadira["apellido"]

'Quinchiguango'

In [29]:
# Acceder al diccionario
print(yadira["nombre"])
yadira["nombre"] = "Liliana"
print(yadira["nombre"])

Yadira
Liliana

In [31]:
yadira["mascotas"][0]["Yadira"]

' Duque'

In [32]:
yadira.keys()

dict_keys(['nombre', 'apellido', 'edad', 'sueldo', 'hijos', 'casado', 'mascotas'])

In [33]:
yadira.values()

dict_values(['Liliana', 'Quinchiguango', 28, 1.1, None, True, [{'Yadira': ' Duque'}]])

In [34]:
"apellido" in yadira.keys()

True

In [35]:
"Yadira" in yadira.values()

False

In [37]:
1==1 or 2==3

True

In [38]:
1==1 and 2==3

False